<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<h2>Dataset overview</h2>
<br>

<div class="col-sm-12">

    <div class="panel panel-info">
        <div class="panel-heading">Italian olive oils dataset</div>
        <div class="panel-body">
            <img src={{url_for('static', filename='images/oils.png' )}}>

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Basic data description using describe</div>
        <div class="panel-body">
            {{ol_desc.to_html(classes='table', columns =
            ol_desc.columns.values[-8:]).replace('border="1"','border="0"')|safe}}
            <br>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Heatmap for mean values per acid by areas</div>
        <div class="panel-body">
            {{means|safe}}
            <br>
        </div>
    </div>

</div>

{% endblock %}