<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="panel panel-info">
    <div class="panel-heading">Cross-feature overview</div>
    <div class="panel-body">This page presents the cross-feature overview for each pair of acids.
        Samples are categorized by regions (Green - North Italy, Orange - South Italy, Blue - Sardinia)
        <p/>
        Plot prepared dynamically using Seaborn PairPlot.
    </div>
</div>

<div class="col-sm-12">

    <img src="multi.png">

</div>

{% endblock %}
